.sustainability {

  &__card {
    background: rgba($primary-color, .10);
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: .625rem;

    @include mq(md) {
      padding: 2rem 4rem;
    }
  }

  &__title {
    text-transform: uppercase;
    color: var(--secondary-color);
    font-size: 2em;
    margin-bottom: 1rem;
    font-weight: var(--fw-bold);
  }

  &__subtitle {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: var(--fw-bold);
    color: var(--primary-color);

    &::after {
      content: '';
      display: block;
      width: 6rem;
      height: .25rem;
      margin: auto;
      margin-top: .5rem;
      background: var(--primary-color);
    }
  }

  &__icon {
    height: px-rem(150px);
  }

  &__description {
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 1rem;
  }
}

.sustainability__group {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &-icon {
    height: px-rem(150px);
  }

  &-title {
    font-size: 1.8em;
    color: var(--secondary-color);
    text-align: center;
  }
}
