.stats {
  &__group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;

    @include mq(md) {
      flex-direction: row;
    }
  }

  &__group:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__group--reverse {
    @include mq(md) {
      flex-direction: row-reverse;
    }
  }

  &__text {
    width: 100%;

    @include mq(md) {
      width: 50%;
      padding: 0 .5rem;
    }
  }

  &__img {
    width: px-rem(600px);
    height: 100%;
    border-radius: .625rem;
    @include box-shadow;
  }

  &__title {
    color: var(--secondary-color);
    margin-top: 0;
  }

  &__description {
    font-size: 1.25em;
    line-height: 1.5;
  }
}
