.projects {
  position: relative;

  @include background-image('&__img');

  &__img img {
    opacity: .06;
  }

  &__group {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include mq(md) {
      flex-direction: row;
    }
  }

  &__title {
    color: var(--secondary-color);
    width: 100%;
    font-size: 2.5em;
    margin: 0;

    @include mq(md) {
      font-size: 3em;
      width: 30%;
    }

    @include mq(lg) {
      font-size: 4em;
    }
  }

  &__description {
    width: 100%;
    font-size: 1.35em;
    line-height: 1.5;

    @include mq(md) {
      width: 70%;
    }
  }

  &__map {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 2rem;
  }

  &__map img {
    display: none;

    @include mq(md) {
      min-height: px-rem(320px);
      height: px-rem(650px);
      width: 70%;
      display: block;
      object-position: 45% 50%;
    }

    @include mq(lg) {
      height: px-rem(750px);
    }

    @include mq(xl) {
      height: px-rem(850px);
    }

  }

  &__countries {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mq(md) {
      width: 30%;
    }
  }

  &__country {
    font-size: 2em;
    margin: 0;
    color: var(--secondary-color);
    border-bottom: 1px solid #222;
    padding: .5rem 0;

    @include mq(lg) {
      font-size: 2.5em;
    }

    span {
      color: var(--primary-color);
    }
  }
}

.projects-2 {
  padding-top: 4rem;

  &__title {
    color: var(--secondary-color);
    font-size: 2em;
    margin-top: 0;

    @include mq(sm) {
      font-size: 3em;
    }

    &::after {
      content: '';
      display: block;
      width: 4rem;
      height: .25rem;
      margin: 0 auto;
      margin-top: .5rem;
      background: var(--primary-color);
    }
  }

  &__description {
    font-size: 1.35em;
    line-height: 1.5;
    margin-top: 1rem;
  }

  &__countries {
    width: 100%;
    padding-bottom: 2rem;
  }

  &__country-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__country:not(:last-child) {
    border-bottom: 1px solid #222;
  }

  &__country {
    font-size: 1.25em;
    color: var(--secondary-color);
    padding: .5rem 0;
    margin: 0;
    text-align: center;
    font-weight: var(--fw-bold);

    span {
      color: var(--primary-color);
    }
  }

  &__reach {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    width: 100%;
    border-radius: 1rem;
    margin: auto;
    margin-bottom: -4rem;
    @include box-shadow;

    @include mq(768px) {
      width: auto;
      flex-direction: row;
    }

    &-title {
      text-transform: uppercase;
      color: #fff;
      @include mq(768px) {
        margin-right: 2rem;
      }
    }

    .button {
      @include mq(sm) {
        font-size: 1em;
      }
    }
  }
}
